<div class="main-content">
    <div class="row">
        
        <div class="col-md-2">
            <a routerLink ='/AddSafetyDocument'>
                <button  class="btn btn-default btn-block pull-left" ><i class="pe-7s-plus"></i> New</button>
            </a>
         </div>
         <div class="col-md-2">
            <button class=" pull-left" (click)="showAllData()" [ngClass]="{'btn btn-info' : !toggleAll, 'btn btn-info btn-fill': toggleAll}">  All</button>
            <button class=" pull-left" (click)="showMineData()" [ngClass]="{'btn btn-info' : !toggleMine, 'btn btn-info btn-fill': toggleMine}">Mine</button>
         </div>
         <div class="col-md-2 pull-right" >
            <mat-form-field>
               <mat-label> <i class="pe-7s-filter"></i>Filter</mat-label>

               <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
               
           </mat-form-field>
        </div>
    </div>
    
    <div class="mat-elevation-z8">
        <div class="main-table">
            <table mat-table  [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                 </ng-container>
                 <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let row"> {{row.type}} </td>
               </ng-container>
               <ng-container matColumnDef="safetyDocType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> SafetyDoc Type </th>
                  <td mat-cell *matCellDef="let row"> {{row.safetyDocType}} </td>
               </ng-container>
                 <ng-container matColumnDef="dateTimeCreated" sticky>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/time created </th>
                    <td mat-cell *matCellDef="let row"> {{row.dateTimeCreated}} </td>
                 </ng-container>
                 <ng-container matColumnDef="details" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
                  <td mat-cell *matCellDef="let row"> {{row.details}} </td>
               </ng-container>
               <ng-container matColumnDef="notes" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
                  <td mat-cell *matCellDef="let row"> {{row.notes}} </td>
               </ng-container>
               <ng-container matColumnDef="workCompleted" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> WorkCompleted </th>
                  <td mat-cell *matCellDef="let row"> {{row.workCompleted}} </td>
               </ng-container>
               <ng-container matColumnDef="tagsRemoved" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> TagsRemoved </th>
                  <td mat-cell *matCellDef="let row"> {{row.tagsRemoved}} </td>
               </ng-container>
               <ng-container matColumnDef="groundingRemoved" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> GroundingRemoved </th>
                  <td mat-cell *matCellDef="let row"> {{row.groundingRemoved}} </td>
               </ng-container>
               <ng-container matColumnDef="readyForService" sticky>
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ReadyForService</th>
                  <td mat-cell *matCellDef="let row"> {{row.readyForService}} </td>
               </ng-container>
                 <ng-container matColumnDef="phoneNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone No. </th>
                    <td mat-cell *matCellDef="let row"> {{row.phoneNo}} </td>
                 </ng-container>
                 <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                 </ng-container>
                 


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getSafetyDocument(row)"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                 </tr>  
            </table>
            <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
        </div>
    </div>


</div>
