<div class="title">
    
</div>
<nav mat-tab-nav-bar >
    <a mat-tab-link *ngFor="let link of links" 
    [routerLink]="link.link"
    (click)="activeLinkIndex = link.index"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"><mat-icon>{{link.icon}}</mat-icon><hr>{{link.label}}</a>
    

    <button *ngIf="modifyModeActivated == false && (role === 'ADMINISTRATOR' || role === 'DISPATCHER' || role === 'WORKER')" type="button" mat-raised-button [color]="triedToCrash === true ? 'warn' : 'primary'" (click)="submitSwitchingPlan()" disabled="{{!buttonEnabled}}" style="left: 10px;" #si>Submit switching plan</button>

    <button *ngIf="documentInvalid == false && modifyModeActivated == true && (role === 'ADMINISTRATOR' || role === 'DISPATCHER' || role === 'WORKER')" type="button" mat-raised-button [color]="triedToCrash === true ? 'warn' : 'primary'" (click)="modifySWP()" disabled="{{!modifyModeActivated}}" style="left: 10px;" #si>Modify switching plan</button>
</nav>
<router-outlet></router-outlet>

