<div class="main-content">
    
    <div class="sidenav">
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('BI')" [ngClass]="{'btn-fill' : toggledButton == 'BI', '': toggledButton != 'BI'}">Basic Information »</a></p>
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('Devices')" [ngClass]="{'btn-fill' : toggledButton == 'Devices', '': toggledButton != 'Devices'}">Devices »</a></p>
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('Resolution')" [ngClass]="{'btn-fill' : toggledButton == 'Resolution', '': toggledButton != 'Resolution'}">Resolution »</a></p>
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('Calls')" [ngClass]="{'btn-fill' : toggledButton == 'Calls', '': toggledButton != 'Calls'}"> Calls »</a></p>
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('Crew')" [ngClass]="{'btn-fill' : toggledButton == 'Crew', '': toggledButton != 'Crew'}">Crew »</a></p>
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('MA')" [ngClass]="{'btn-fill' : toggledButton == 'MA', '': toggledButton != 'MA'}">Multimedia attachments »</a></p>
            <p><a class="btn btn-secondary custom" role="button" (click)="toggle('Equipment') " [ngClass]="{'btn-fill' : toggledButton == 'Equipment', '': toggledButton != 'Equipment'}">Equipment »</a></p>
           
    </div>
    <div class="main">
        <app-incident-basic-info [ngClass]="{'hidden': toggledButton != 'BI'}"></app-incident-basic-info>

    </div>
    
</div>

