<!--div class="main-content">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>info</mat-icon>Basic Information
            </ng-template>
            <app-incident-basic-info></app-incident-basic-info>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>devices</mat-icon>Devices
            </ng-template>
            <app-incident-devices></app-incident-devices>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>more</mat-icon>Resolution
            </ng-template>
            <app-incident-resolution></app-incident-resolution>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon> call</mat-icon>Calls
            </ng-template>
            <app-incident-calls></app-incident-calls>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>group</mat-icon>Crew
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>perm_media</mat-icon>Multimedia attachments
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>important_devices</mat-icon>Equipment
            </ng-template>
        </mat-tab>
        
    </mat-tab-group>


   



</div-->
<div class="title" *ngIf="modifyModeActivated == false">
    <h4 class="header">
        Add new incident <button type="button" mat-raised-button [color]="triedToCrash === true ? 'warn' : 'primary'" (click)="submitIncident()" disabled="{{!buttonEnabled}}" style="left: 30px;" #si>Submit incident</button>
    </h4>
    
</div>
<div class="title" *ngIf="modifyModeActivated == true">
    <h4 class="header">
        View and modify incident <button type="button" mat-raised-button [color]="triedToCrash === true ? 'warn' : 'primary'" (click)="modifyIncident()" disabled="{{!modifyModeActivated}}" style="left: 30px;" #si>Modify incident</button>
    </h4>
    
</div>
<nav mat-tab-nav-bar >
    <a mat-tab-link *ngFor="let link of links" 
    [routerLink]="link.link"
    (click)="activeLinkIndex = link.index"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"><mat-icon>{{link.icon}}</mat-icon>{{link.label}}</a>
</nav>
<router-outlet></router-outlet>

