<div class="main-content">
    
    <div class="container-fluid">
        <div class="col-lg-3">
            <mat-tab-group mat-align-tabs="center" [@.disabled]="true"(selectedTabChange)="onIndexChanged($event)" >
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>info</mat-icon>Basic Information
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>devices</mat-icon>Devices
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>more</mat-icon>Resolution
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon> call</mat-icon>Calls
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>group</mat-icon>Crew
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>perm_media</mat-icon>Multimedia attachments
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>important_devices</mat-icon>Equipment
                    </ng-template>
                </mat-tab>
                
            </mat-tab-group>
            
        </div>
        <div class="col-lg-9 margin-top-custom">
            <app-incident-basic-info [ngClass]="{'hidden': toggledButton != 'BI'}"></app-incident-basic-info>
            <app-incident-devices [ngClass]="{'hidden': toggledButton != 'Devices'}"></app-incident-devices>
    
        </div>
    </div>
        
           
    
    
    
</div>

