<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-default btn-block" (click)="CreateNewTeam()" matTooltip="create new team"><i class="pe-7s-plus" ></i> New</button>
             </div>
        </div>
        <div class="row cus-position"><h4><b>Available teams:</b></h4></div>
        <div class="row" *ngFor="let team of teams" style=" border-bottom: 2px black solid; margin-top: 1rem;">
            <div class="col-6 cus-position">ID: {{team.teamID}}</div>
            <div class="col-6 cus-position">Team name: {{team.teamName}}</div>
            <div class="col-12 cus-position">Team members:</div>
            <div class="row cus-position1" *ngFor="let member of team.teamMembers; let i=index">
                {{i+1+". "+member.firstName+" "+member.lastName+" ["+member.id+"]"}}
            </div>
        </div>
    </div>
</div>