<div class="sidebar-wrapper">
    <div class="logo">
        <a href="" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/logo.png"/>
            </div>
            M2I Smart Grid
        </a>
    </div>
    <ul class="nav responsive-nav">
        <li routerLinkActive="active" >
            <a [routerLink]="'/SearchNetworkElements'">
                <i class="pe-7s-search"></i>
                <p>Search</p>
            </a>
        </li>
        <li routerLinkActive="active" >
            <a [routerLink]="'/test'">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" >
            <a [routerLink]="'/IncidentBrowser'">
                <i class="pe-7s-note2"></i>
                <p>Incidents browser</p>
            </a>
        </li>
        <li routerLinkActive="active" >
            <a [routerLink]="'/map'">
                <i class="pe-7s-map"></i>
                <p>Map</p>
            </a>
        </li>
        <li routerLinkActive="active" >
            
            <a  (click)="hideShowSubmenu()" style="cursor: pointer;" >
                <i class="pe-7s-folder"></i>
                <p>Documents
                    <span class="fa fa-caret-down"></span>
                </p>
            </a>
            
            <ng-container *ngIf="showSubMenu">
                <ul class="dropdown-content" >
                   <li routerLinkActive="active" class="nav-item" style="list-style-type: none;">
                     <a [routerLink]="'/WorkRequests'">
                        <i class="pe-7s-note2"></i>
                        <p>Work Requests</p>
                      </a>
                   </li>
                   <li routerLinkActive="active" class="nav-item" style="list-style-type: none;">
                    <a [routerLink]="'/SwitchingPlans'">
                       <i class="pe-7s-note2"></i>
                       <p>Switching Plans</p>
                     </a>
                  </li>
                  <li routerLinkActive="active" class="nav-item" style="list-style-type: none;">
                    <a [routerLink]="'/SafetyDocuments'">
                       <i class="pe-7s-note2"></i>
                       <p>Safety Documents</p>
                     </a>
                  </li>
                </ul>
                
            </ng-container>
                
            
        </li>
        <li *ngIf="this.role === 'ADMINISTRATOR'" routerLinkActive="active" >
            <a [routerLink]="'/AddNetworkElement'">
                <i class="pe-7s-network"></i>
                <p>Add network element</p>
            </a>
        </li>
        <li *ngIf="this.role === 'ADMINISTRATOR'" routerLinkActive="active" >
            <a [routerLink]="'/NoRoute'">
                <i class="pe-7s-add-user"></i>
                <p>Add consumer</p>
            </a>
        </li>
        <li routerLinkActive="active" >
            <a [routerLink]="'/TeamsView'">
                <i class="pe-7s-users"></i>
                <p>Teams browser</p>
            </a>
        </li>
        <li *ngIf="this.role === 'ADMINISTRATOR'" routerLinkActive="active" >
            <a [routerLink]="'/AllUsers'">
                <i class="pe-7s-id"></i>
                <p>All Users</p>
            </a>
        </li>
        <ul class="nav responsive-nav bottom">
            <li routerLinkActive="active" class="bottom">
                <!--a *ngIf="menuItem.class == 'secondary'" [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a-->
                <a [routerLink]="'/Notifications'">
                    <i class="pe-7s-bell"></i>
                    <p>Notifications</p>
                </a>
            </li>
            
            <li *ngIf="this.role === 'ADMINISTRATOR'" routerLinkActive="active" class="bottom">
                <a [routerLink]="'/NoRoute1'">
                    <i class="pe-7s-tools"></i>
                    <p>Settings</p>
                </a>
            </li>
            
        </ul>
        
    </ul>
    
    
</div>