<!--div class="main-content">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>info</mat-icon>Basic info
                    </ng-template>
                    <app-basic-info></app-basic-info>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>history</mat-icon>History of state changes
                    </ng-template>
                    <app-changes-history></app-changes-history>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>perm_media</mat-icon>Multimedia attachments
                    </ng-template>
                    <app-multimedia-attachments></app-multimedia-attachments>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>important_devices</mat-icon>Equipment
                    </ng-template>
                </mat-tab>
                <app-equipment></app-equipment>
            </mat-tab-group>
</div-->
<div class="title" *ngIf="modifyModeActivated == false" >
    <h4 class="header" hidden="{{hiddenButton}}">
        Create new work request <button type="button" mat-raised-button [color]="triedToCrash === true ? 'warn' : 'primary'" (click)="SubmitWR()" disabled="{{!buttonEnabled}}" style="left: 30px;" #si>Submit work request</button>
    </h4>
    
</div>
<div class="title" *ngIf="modifyModeActivated == true">
    <h4 class="header" hidden="{{hiddenButton}}">
        View and modify work request <button type="button" mat-raised-button [color]="triedToCrash === true ? 'warn' : 'primary'"  (click)="UpdateWR()" disabled="{{!modifyModeActivated}}" style="left: 30px;" #si>Modify work request</button>
    </h4>
    
</div>
<nav mat-tab-nav-bar (selectedTabChange)="onChanged($event)" >
    <a mat-tab-link *ngFor="let link of links" 
    [routerLink]="link.link"
    (click)="activeLinkIndex = link.index"
    routerLinkActive #rla="routerLinkActive"
    
    [active]="rla.isActive"><mat-icon>{{link.icon}}</mat-icon>{{link.label}}</a>
    <div class="col-lg-3"></div>
</nav>
<router-outlet></router-outlet>        