:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  :host ::ng-deep .mat-tab-labels {
    flex-direction: column;
  }
  
  mat-tab-group {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  
  :host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  mat-tab-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep mat-ink-bar {
    display: none;
  }
  
  /* Styles for the active tab label */
  :host ::ng-deep.mat-tab-label.mat-tab-label-active {
    background-color:rgb(26, 95, 171);
    color: rgb(249, 255, 255);
    border-right: 2px solid lightblue;
  }
  /* Styles for the active tab label */
  :host ::ng-deep.mat-tab-label {
    background-color: transparent;
     /*background-color: lightgray;*/ 
  }
  
  mat-icon{
    margin-right: 1rem;
  }

  mat-tab-group{
    margin-right: 2rem;
    margin-top: 2rem;
    width: 21%;
    
  }

  .content-div{
    margin-left: 2rem;
  }
  .margin-top-custom{
    margin-top: 2rem;
  }
  ::ng-deep .mat-tab-label {
    padding: 20px !important; 
    justify-content: left !important;
  }