<div class="main-content">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>info</mat-icon>Basic info
                    </ng-template>
                    <app-basic-info></app-basic-info>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>history</mat-icon>History of state changes
                    </ng-template>
                    <app-changes-history></app-changes-history>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>perm_media</mat-icon>Multimedia attachments
                    </ng-template>
                    <app-multimedia-attachments></app-multimedia-attachments>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>important_devices</mat-icon>Equipment
                    </ng-template>
                </mat-tab>
                <app-equipment></app-equipment>
            </mat-tab-group>
</div>
        