table{
    width: 100%;
}

.mat-cell,
.mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;

white-space: nowrap;
overflow: hidden;
vertical-align: middle;
}
.main-table{
  
  overflow-y:hidden;
  overflow-x:scroll;
}
::ng-deep .mat-tab-label {
  padding: 20px !important; 
  justify-content: left !important;
}