<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-md-2">
                <button class="btn btn-default btn-block" (click)="CreateNewWR()" matTooltip="createworkrequest"><i class="pe-7s-plus" ></i> New</button>
             </div>
             <div class="col-md-4">
                <button class=" pull-left" (click)="showAllWorkRequests()" [ngClass]="{'btn btn-info' : !toggleAll, 'btn btn-info btn-fill': toggleAll}">  All work requests</button>
                <button class=" pull-left" (click)="showMyWorkRequests()" [ngClass]="{'btn btn-info' : !toggleMy, 'btn btn-info btn-fill': toggleMy}">My work requests</button>
             </div>
             
        </div>
        <div class="row" *ngIf="toggleMy">
            <div class="main-table">
                    <app-mat-table class="main-table"
                [tableData]="workRequests"
                [tableColumns]="WRTableColumns"
                [isFilterable]="true"
                [isPageable]="true"
                [paginationSizes]="[2,4,6]"
                [defaultPageSize]="4"
                [rowActionIcon]="'launch'"
                (rowAction) = "openWR($event)"
                >
                </app-mat-table>
            </div>    
        </div>
        <div class="row" *ngIf="toggleAll">
            <div class="main-table">
                    <app-mat-table class="main-table"
                [tableData]="workRequests"
                [tableColumns]="WRTableColumns"
                [isFilterable]="true"
                [isPageable]="true"
                [paginationSizes]="[2,4,6]"
                [defaultPageSize]="4"
                
                >
                </app-mat-table>
            </div>    
        </div>
    </div>
</div>