<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a [href]="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret"></b>
                        <span class="notification">{{count}}</span>
                    </a>
                    <ul class="dropdown-menu" style="width:400px;">
                        <li style="text-align: center;"  *ngFor="let not of notifications">{{not.desc}}<mat-icon>{{not.icon}}</mat-icon><li>
                        <li style="text-align: center;"><a href="/Notifications"><mat-icon>open_in_browser</mat-icon></a></li>
                    </ul>
                </li>
            </ul>
            
        <div class = "navbar-header">
            <p class="navbar-brand" style="color:darkslateblue;" >{{getTitle()}}</p>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a *ngIf="user" href="/UserAccount">
                    {{ user }}
                </a>
            </li>
            <li>
                <a href="#" (click)="logOut()">
                    Log out
                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
    </div>
</nav>
