<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-2">
            <a routerLink ='/AddIncident'>
                <button  class="btn btn-default btn-block pull-left" ><i class="pe-7s-plus"></i> New</button>
            </a>
         </div>
         
    </div>
    <div class="row">
        <div class="col-md-10">
                <div class="header">
                    
                    <div class="content">
                        <div class="mat-elevation-z8">
                            <h4 >Devices</h4>
                            <div class="main-table">
                                    <app-mat-table class="main-table"
                                    [tableData]="Devices"
                                    [tableColumns]="WRTableColumns"
                                    [isFilterable]="true"
                                    [isPageable]="true"
                                    [paginationSizes]="[2,4,6]"
                                    [defaultPageSize]="4"
                                    [rowActionIcon]="'location_on'"
                                    
                                    (rowAction)="showOnMap($event)">
                                    >
                                    </app-mat-table>
                            </div>  
                        </div>
                
                    </div>
                
        
            </div>
        </div>
    </div>
</div>
