<div class="main-content">
    <div class="row">
        
        <div class="col-md-2">
            <a routerLink ='/AddIncident'>
                <button  class="btn btn-default btn-block pull-left" ><i class="pe-7s-plus"></i> New</button>
            </a>
         </div>
         <div class="col-md-2">
            <button class=" pull-left" (click)="showAllData()" [ngClass]="{'btn btn-info' : !toggleAll, 'btn btn-info btn-fill': toggleAll}">  All</button>
            <button class=" pull-left" (click)="showMineData()" [ngClass]="{'btn btn-info' : !toggleMine, 'btn btn-info btn-fill': toggleMine}">Mine</button>
         </div>
         
    </div>
    <div class="mat-elevation-z8">
                <div class="main-table">
                        <app-mat-table class="main-table"
                        [tableData]="Incidents"
                        [tableColumns]="WRTableColumns"
                        [isFilterable]="true"
                        [isPageable]="true"
                        [paginationSizes]="[2,4,6]"
                        [defaultPageSize]="4"
                        (sort)="sortData($event)"
                        
                        >
                        </app-mat-table>
                </div>  
        
    </div>
   
</div>

