<div class="main-content">
    <div class="container-fluid">
        <div fxLayoutGap="1em" fxLayout="row">
            <mat-card class="custom-card" fxFlex fxLayoutAlign="center" *ngFor="let user of allUsers">
                <img mat-card-image class="img-size" *ngIf="user.userImage != ''" src="{{user.userImage}}" alt="Photo of user">
                <img mat-card-image class="img-size" *ngIf="user.userImage == ''" src="https://icons-for-free.com/iconfiles/png/512/avatar+person+profile+user+icon-1320086059654790795.png" alt="Photo of user">
               <div style="margin-left: 1rem;">
                <mat-card-header> 
                <mat-card-title ><h5><b>Name: </b>{{user.firstName +" "+user.lastName}}</h5></mat-card-title>
                <mat-card-subtitle><h5><b>Role: </b>{{user.roleOfUser}}</h5></mat-card-subtitle>
              </mat-card-header>
             
              <mat-card-content style="display: block;" >
                <p>
                  <b>Username: </b>{{user.userName}}
                </p>
                <p><b>Email: </b>{{user.email}}</p>
                <p *ngIf="user.address.length <= 115"><b>Address: </b>{{user.address.toString()}}</p>
                <p *ngIf="user.address.length > 115"><b>Address: </b>{{user.address.toString().substring(0, 115)}}...</p>
                <p><b>Bday: </b>{{user.dateOfBirth.split('T')[0] | date}}</p>
              </mat-card-content>
            </div>
              <div style="border-top: 1px solid lightblue;">
              <mat-card-actions >
                <a><button mat-button class="allow" *ngIf="user.accountAllowed === false" (click)="AllowLogin(user.userName)">Allow Login</button></a>
                <a><button mat-button class="block" *ngIf="user.accountAllowed === true" (click)="BlockLogin(user.userName)">Block Login</button></a>
                <a>
                <button mat-button style="float: right;" (click)="DeleteUser(user.userName)">
                  <mat-icon>delete</mat-icon>
                </button>
                </a>
              </mat-card-actions>
            </div>
            </mat-card>
            </div>
    
    </div>
</div>
