<h2 mat-dialog-title>Please select team</h2>

<mat-dialog-content>

<div class="main-content">
    
    <div class="row">
        <mat-selection-list #teamsList [multiple]="false">
          <mat-list-option *ngFor="let team of teams" [ngValue]="team" (click)="getTeam($event)">
            {{team.teamID}}-Team name: {{team.teamName}}   
          </mat-list-option>
        </mat-selection-list>
    </div>
    <div *ngIf="selectedCrew!=null">
      Selected crew id: {{selectedCrew}}
    </div> 
</div>

</mat-dialog-content>
