<div class="main-content">
    <ng-container *ngIf="!NewCallToggle;else addCall">
        <div class="row">
            <div class="col-md-2" *ngIf="!NewCallToggle">
                <button (click)="toggleNew()" routerLink="./AddNew"  class="btn btn-default btn-block pull-left" ><i class="pe-7s-plus"></i> New</button>   
            </div>
            <div class="col-md-2 pull-right" >
                <mat-form-field>
                   <mat-label> <i class="pe-7s-filter"></i>Filter</mat-label>
    
                   <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                   
               </mat-form-field>
            </div>
        </div>
        <div class="mat-elevation-z8">
            <div class="main-table">
                <table mat-table  [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="callId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Call Id </th>
                        <td mat-cell *matCellDef="let row"> {{row.callId}} </td>
                     </ng-container>
                     <ng-container matColumnDef="reason" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
                        <td mat-cell *matCellDef="let row"> {{row.reason}} </td>
                     </ng-container>
                     <ng-container matColumnDef="hazard">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hazard </th>
                        <td mat-cell *matCellDef="let row"> {{row.hazard}} </td>
                     </ng-container>
                     <ng-container matColumnDef="comment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
                        <td mat-cell *matCellDef="let row"> {{row.comment}} </td>
                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                     </tr>  
                </table>
                <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
            </div>
        </div>
    </ng-container>

    <ng-template #addCall>
        <div class="header">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </ng-template>
</div>



