<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-2" *ngIf="!NewCallToggle">
                <button (click)="toggleNew()" routerLink="./AddNew"  class="btn btn-default btn-block pull-left" ><i class="pe-7s-plus"></i> New</button>
            
         </div>
         
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <ng-container  *ngIf="!NewCallToggle; else addCall">
                    <div class="header">
                        <h4 class="title">Calls</h4>
                        <div class="content">
                            <div class="mat-elevation-z8">
                                <div class="main-table">
                                        <app-mat-table class="main-table"
                                        [tableData]="Calls"
                                        [tableColumns]="WRTableColumns"
                                        [isFilterable]="true"
                                        [isPageable]="true"
                                        [paginationSizes]="[2,4,6]"
                                        [defaultPageSize]="4"
                                        [rowActionIcon]="'location_on'"
                                        (rowAction)="showOnMap($event)">
                                        >
                                        </app-mat-table>
                                </div>  
                            </div>
                    
                        </div>
                    </div>
                </ng-container>
                
                    <ng-template #addCall>
                        <div class="header">
                            <div class="content">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </ng-template>
                
        
            </div>
        </div>
    </div>
</div>
