<div class="main-content" style="margin-top: -15px;">
    <div class="container-fluid">
        <div class="row">    
            <form [formGroup]="basicInfoForm">
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Type of document*</mat-label>
                            <mat-select formControlName="typeOfDocument" name="typeOfDocument" id="typeOfDocument">
                                <mat-option value="PLANNED_WORK">PLANNED_WORK</mat-option>
                                <mat-option value="UNPLANNED_WORK">UNPLANNED_WORK</mat-option>
                            </mat-select>
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageTypeOfDoc()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label class="font-bold">Created by*</mat-label>
                            <input class="font-bold" matInput placeholder="Created by" value="{{user}}" formControlName="createdBy" type="text" name="createdBy" id="createdBy" readonly/>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Status*</mat-label>
                                <input class="font-bold" matInput placeholder="statusOfDocument" formControlName="statusOfDocument" type="text" name="statusOfDocument" id="statusOfDocument" readonly/>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Created*</mat-label>
                            <input class="font-bold" matInput placeholder="Created" formControlName="dateTimeCreated" type="text" name="dateTimeCreated" id="dateTimeCreated" readonly/>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <div>
                            <mat-label style="float: left; vertical-align: middle;" *ngIf="this.currentIncId === undefined"><b>Incident</b></mat-label>
                            <button type="button" style="min-width: 50%;" *ngIf="this.currentIncId !== undefined">                             
                                <mat-label style="float: left; vertical-align: middle;"></mat-label>
                                <b>Incident: {{this.currentIncId}}</b>
                            </button>
                            <input matInput hidden/>
                            <button color="Primary" type="button" (click)="OpenIncDialog()" style="float: right; vertical-align: middle;">...</button>
                        </div>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <!--mat-form-field class="full-width" appearance="outline">
                            <mat-label>Type of work</mat-label>
                            <mat-select formControlName="typeOfWork" name="typeOfWork" id="typeOfWork">
                                <mat-option value="--">--</mat-option>
                                <mat-option value="Equipment">EQUIPMENT</mat-option>
                            </mat-select>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error>
                        </mat-form-field-->
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width " appearance="outline" >
                            <div class="col"  style="margin-top: -8px;">
                                <mat-label class="labelBeforeSlide">Emergency work</mat-label>
                                <mat-slide-toggle color="primary" formControlName="emergencyWork"></mat-slide-toggle>
                                <input matInput #value hidden >
                            </div>
                                <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input matInput formControlName="startDateTime" (change)="onDateChanged()" type="date" name="startDateTime" placeholder="Start Date/Time" id="startDateTime">
                            
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageStartDateTime()}}</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>End Date</mat-label>
                            <input matInput (change)="onEndDateChanged()" formControlName="endDateTime" type="date"  name="endDateTime" placeholder="End Date/Time" id="endDateTime">
                            
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageEndDateTime()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-4">
                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Phone No</mat-label>
                            <input  matInput placeholder="phoneNo" formControlName="phoneNo" type="text" name="phoneNo" id="phoneNo"/>
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessagePhoneNo()}}</mat-error>
                        </mat-form-field>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Search address</mat-label>
                            <input  matInput placeholder="Search address" formControlName="street" (change)="onAddressChanged()" (click)="$event.stopPropagation()" (keyup.enter)="addressLookup($any($event.target).value)" type="text" name="street" id="street"/>
                            <app-results-list [results]="searchResults" (locationSelected)="getAddress($event)"></app-results-list>
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageAddress()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                        <mat-form-field class="full-width" appearance="outline" >
                            <mat-label>Company</mat-label>
                            <input  matInput placeholder="Company" formControlName="company" type="text" name="company" id="company"/>
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageCompany()}}</mat-error>
                        </mat-form-field>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12" >
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Purpose*</mat-label>
                            <input matInput placeholder="purpose" formControlName="purpose" type="text" name="purpose" id="purpose"/>
                            <mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessagePurpose()}}</mat-error>
                        </mat-form-field>
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group col-md-12" >
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Details*</mat-label>
                            <input matInput placeholder="details" formControlName="details" type="text" name="details" id="details"/>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>    
                </div>
                <div class="row">
                    <div class="form-group col-md-12" >
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Notes*</mat-label>
                            <input matInput placeholder="notes" formControlName="notes" type="text" name="notes" id="notes"/>
                            <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                        </mat-form-field>
                    </div>    
                </div>
                <div class="row">
                    <div class="button-center-align">
                    <button mat-flat-button color="primary" (click)=SaveWRBasicInfo() [disabled]="basicInfoForm.invalid">Save</button>
                    <button mat-flat-button (click)=Cancel()>Cancel</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>