<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="header">
                    <h4 class="title">Resolution</h4>
                    <div class="content">
                        <form [formGroup]="resolutionForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="form-group">
                                    <mat-form-field class="full-width" appearance="outline" >
                                        <mat-label>Cause</mat-label>
                                        <mat-select formControlName="cause" id="cause" #t (selectionChange)="onChange(t.value)">
                                            <mat-option *ngFor="let cause of causeTypes" [value]="cause">{{cause}}</mat-option>
                                        </mat-select>
                                        <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="form-group">
                                    <mat-form-field class="full-width" appearance="outline" >
                                        <mat-label>Subcause</mat-label>
                                        <mat-select formControlName="subcause" id="subcause" required>
                                            <mat-option *ngFor="let subcause of subcauseTypes" [value]="subcause">{{subcause}}</mat-option>
                                        </mat-select>
                                        <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <mat-form-field class="full-width" appearance="outline" >
                                        <mat-label>Construction Type</mat-label>
                                        <mat-select formControlName="constructionType" id="constructionType">
                                            <mat-option *ngFor="let constructionType of constructionTypes" [value]="constructionType">{{constructionType}}</mat-option>
                                        </mat-select>
                                        <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <mat-form-field class="full-width" appearance="outline" >
                                        <mat-label>Material</mat-label>
                                        <mat-select formControlName="material" id="material">
                                            <mat-option *ngFor="let material of materialTypes" [value]="material">{{material}}</mat-option>
                                        </mat-select>
                                        <!--mat-error *ngIf="basicInfoForm.invalid">{{getErrorMessageUsername()}}</mat-error-->
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                
                                
                                    <div class="button-center-align">
                                        <button class="btn btn-success" [disabled]="!resolutionForm.valid"  type="submit" style="margin-right: 10px;">Save</button>
                                        <button type="button" class="btn btn-danger" (click)="onClear()" type="button">Clear</button>
                                    </div>
                                

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

