
.mat-cell,
.mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;

white-space: nowrap;
overflow: hidden;
vertical-align: middle;
}
.mat-paginator{
   width: 100%;
   overflow-x:unset;
}



table{
    width: 100%;
    overflow-y:hidden;
    overflow-x:scroll;
}