.column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .img-size{
      width: 100%;
      margin-bottom: 1rem;
      margin-left: auto;
      height: auto;
      object-fit: scale-down;
      background-size: cover;
      display: inline-block;
      
  }
  .example-card {
    min-width: 100%;
    margin: 40px;

}
.allow{
    background-color: yellowgreen;
}
.block{
    background-color: red;
}
.left-padding{
    margin-left: 1rem;
}
.cards {
    width: 350px;
    display: flex;
}
.custom-card {
    width: 30% !important;
    display: inline-block !important;
    position: relative !important;
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: center;
    border: 1px solid gray;
    height: auto;
    justify-content: center;
  }
  .cus-position{
      margin-left: 1px;
  }